# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.bak
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
